<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
  <add name="Assignment.Properties.Settings.Assignment_IOOPConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=Assignment_IOOP;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="Assignment.Properties.Settings.SedapMakan_DatabaseConnectionString"
   connectionString="Data Source=LAPTOP-87MTL4FI\SQLEXPRESS;Initial Catalog=&quot;SedapMakan Database&quot;;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="Assignment.Properties.Settings.Assignment_IOOPConnectionString1"
   connectionString="Data Source=LAPTOP-87MTL4FI\SQLEXPRESS;Initial Catalog=Assignment_IOOP;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>